.left 				{float:left}
.right 				{float:right}
.clear 				{clear:both}

.postInner 			{padding: 20px;}

.tabpage 		 	{display:none}
.tabpage.active 	{display:block}

.settingTabs a 		{outline:none !important}
.settingTabs a:focus {
    box-shadow: 0 0 0 0px #5b9dd9, 0 0 0px 0px rgba(30, 140, 190, 0.8);
    color: #124964;
}


.sessionForm 		{display:none}
.congSessiondelete 	{margin-right: 15px; opacity:0}
.congSessiondelete.active 	{margin-right: 15px; opacity:1}
.congSessiondelete a, .congSessiondelete a:visited {text-decoration: none; color:red}
.congSessions 		{margin-bottom: 10px; font-size: 18px; margin-left: 15px;}	
.congSessionYears 	{margin-left: 40px;}


.memEdit                {margin-left: 30px;}
#upload-btn 		{width:100%}


.input-large            {width: 100%; padding:3px 8px; font-size:1.7em}
.large-area             {width:100%; height:200px; padding: 10px; font-size: 14px}
.addVote                {display:none; margin: 10px 0 20px 0; padding: 20px; background:#eaeaea; border-radius: 5px;}

.error                  {border:1px solid red !important; }


