/*******************************************************************************
GENERAL SETUP
*******************************************************************************/

#scoreCardWrapper .left {float:left}
#scoreCardWrapper .right {float:right}
#scoreCardWrapper .clear {clear:both}

/*******************************************************************************
TYPOGRAPHY SETUP
*******************************************************************************/
#scoreCardWrapper h1 {font-family: 'Roboto', sans-serif; margin-bottom:40px; color:#333e4c; font-size:48px; line-height:50px; font-weight:200; font-style:italic; letter-spacing:.05em;}
#scoreCardWrapper h2 {font-family: 'Roboto', sans-serif; margin-bottom:20px; color:#333e4c; font-size:23px; line-height:24px; font-weight:200; font-style:italic; letter-spacing:.05em;}
#scoreCardWrapper h3 {font-family: 'Roboto', sans-serif; margin-bottom:50px; color:#333e4c; font-size:30px; line-height:32px; font-weight:200; font-style:italic; letter-spacing:.05em;}
#scoreCardWrapper h4 {font-family: 'Roboto', sans-serif; margin-bottom:30px; color:#2d76d2; font-size:18px; line-height:20px; font-weight:500; font-style:italic; letter-spacing:.05em;}

#scoreCardWrapper h3.stateName {color:#2d76d2;}

#scoreCardWrapper p{margin-bottom:15px;}

#scoreCardWrapper a, a img {outline:none; text-decoration:none; transition:opacity .2s;}
#scoreCardWrapper a:hover, #scoreCardWrapper a:active {text-decoration:none; opacity:0.8;}

#scoreCardWrapper .blueTxt {color: #2D76D2;}

#scoreCardWrapper .upper          { text-transform: uppercase;}


/*******************************************************************************
ROW & WRAPPER SETUP
*******************************************************************************/
#scoreCardWrapper { width:100%; min-height:100%; font-family: 'Roboto', sans-serif; font-weight:300; font-size: 18px; line-height: 24px; color: #333e4c; background:#fff; letter-spacing:.01em;}

#scoreCardWrapper .row { width:100%; position:relative; float:left; padding:0 3.125%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#scoreCardWrapper .rowInner { width:100%; max-width:1000px; margin:0 auto; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


/*******************************************************************************
MISC
*******************************************************************************/
#scoreCardWrapper .parsley-error {color:#f00 !important; border-color:#F00 !important; text-decoration:blink;}
#scoreCardWrapper .parsley-error-list {display:none !important;}

#tooltip { position: absolute; z-index: 3000; border:1px solid #ccc; background-color: #fff; padding: 5px; opacity:0.8;}
#tooltip h3, #tooltip div { margin: 0 !important; font-family: 'Roboto', sans-serif; font-style:italic; font-size:12px; line-height:12px; color:#333e4c;}

#scoreCardWrapper .btn { width:100%; max-width:145px; height:40px; text-align:center; font-weight:500; font-size:14px; line-height:14px; display:block; text-transform:uppercase; background:#e4e8ec; color:#999fa6; letter-spacing:.1em; transition:opacity .2s;}
#scoreCardWrapper .btn:hover {opacity:0.8;}
#scoreCardWrapper .btnInner {height:40px; width:inherit; vertical-align:middle; display:table-cell; padding:0 5px;}

#scoreCardWrapper .btnBlue { background:#2d76d2; color:#fff}
#scoreCardWrapper .btnDarkBlue { background:#333e4c; color:#fff;}
#scoreCardWrapper .btnOrange { background:#ff9001; color:#fff;}

#scoreCardWrapper .AEA .UlSelectize {list-style-type: none; margin: 0;}

#scoreCardWrapper #toTop {color:#333E4C; z-index: 9;font-size: 50px;display: none;position: fixed;bottom: 5px;right: 5px;width: 64px;height: 64px;background-image: url('http://geniuscarrier.com/images/up.png');background-repeat: no-repeat;opacity: 0.4;filter: alpha(opacity=40); /* For IE8 and earlier */}
#scoreCardWrapper #toTop:hover {opacity: 0.8;filter: alpha(opacity=80); /* For IE8 and earlier */}


/*******************************************************************************
SEARCH BLOCK
*******************************************************************************/
#scoreCardWrapper #search { line-height:29px;}
#scoreCardWrapper #search label {margin-bottom:10px; font-style:italic; display:block;}
#scoreCardWrapper #search .searchForm {width:100%; margin-bottom:15px; padding:0 45px 0 0; display:block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float:left;}
#scoreCardWrapper #search .searchForm.selectForm {padding:0;}
#scoreCardWrapper #search .searchForm .field {box-shadow: none; -webkit-box-shadow: none; float:left; height:40px; background:#fff; border:1px solid #b5bac1; color:#b5bac1; font-family: 'Roboto', sans-serif; font-weight:300; font-size:18px; line-height:18px; padding:7px; width:100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#scoreCardWrapper #search .searchForm .submit { float:right; width:45px; height:40px; border:1px solid #b5bac1; border-left:none; font-family: FontAwesome; color:#b5bac1; text-align:center; font-size:14px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin:0 -45px 0 0; background:#e1e9ec;}
#scoreCardWrapper #search .allBtns {text-align:center;}
#scoreCardWrapper #search .btn { margin:15px auto 0;}


/*******************************************************************************
MAP ROW - HOME
*******************************************************************************/
#scoreCardWrapper #mapRow { background:#f9fcff;}
#scoreCardWrapper #mapRow .rowInner { padding:40px 0 40px 630px;}

#scoreCardWrapper #mapRow #map {float:left; margin:0 0 0 -630px}
#scoreCardWrapper #mapRow #map p {font-size:22px; line-height:25px; font-style:italic; text-align:center; margin:30px 0; letter-spacing:.05em; font-weight:200; max-width:592px;}

#scoreCardWrapper #mapRow #search {max-width:290px; float:right;  width:100%;  width:100%; }
#scoreCardWrapper #mapRow #search .stateSearch {display:none;}


/*******************************************************************************
TOP PERFORMERS ROW - HOME
*******************************************************************************/
#scoreCardWrapper #topPerformersRow { background:#fff; padding:0 2.125%;}
#scoreCardWrapper #topPerformersRow .rowInner { padding:40px 0 0px 0;}

#scoreCardWrapper .topPerformersBlock {padding:30px 0 35px 0;}
#scoreCardWrapper .topPerformersBlock .header { margin:0 0 24px 0; padding:0 155px 0 0;}
#scoreCardWrapper .topPerformersBlock .header h1 {float:left; margin-bottom:0px;}
#scoreCardWrapper .topPerformersBlock .header .btn {float:right; margin:10px -143px 0 0;}
#scoreCardWrapper .topPerformersBlock .content {}
#scoreCardWrapper .topPerformersBlock .profile {width:18%; margin:0 1% 20px 1%; text-align:center; padding:8px; border:1px solid #e4e8ec; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#scoreCardWrapper .topPerformersBlock .profile .photo { margin:0 0 30px 0;}
#scoreCardWrapper .topPerformersBlock .profile .photo img {width:100%; height:auto; display:block;}
#scoreCardWrapper .topPerformersBlock .profile .title { font-weight:200; font-size:16px; line-height:21px; color:#b5bac1; letter-spacing:.05em; margin:0 0 15px 0;}
#scoreCardWrapper .topPerformersBlock .profile .name {font-weight:500; font-size:16px; line-height:21px; color:#333e4c; letter-spacing:.05em; margin:0 0 25px 0;}
#scoreCardWrapper .topPerformersBlock .profile .score { font-weight:700; font-style:italic; font-size:73px; line-height:73px; color:#18a0e6; margin:0 0 20px 0;}


/*******************************************************************************
TOP VOTES ROW - HOME
*******************************************************************************/
#scoreCardWrapper #topVotesRow { background:#fff; padding:0 2.125%;}
#scoreCardWrapper #topVotesRow .rowInner { padding:40px 0 30px 0;}

#scoreCardWrapper .topVotesBlock { width:47.5%; margin:0 1% 40px 1%; float:left;}
#scoreCardWrapper .topVotesBlock:first-child {margin-right:2%;}
#scoreCardWrapper .topVotesBlock .header { margin:0 0 24px 0;  padding:0 155px 0 0;}
#scoreCardWrapper .topVotesBlock .header h2 {float:left; margin-bottom:0px;}
#scoreCardWrapper .topVotesBlock .header .btn {float:right; margin:0 -155px 0 0;}
#scoreCardWrapper .topVotesBlock .content {}
#scoreCardWrapper .topVotesBlock .content table { border-collapse:collapse;}
#scoreCardWrapper .topVotesBlock .content table tr { cursor: pointer; }
#scoreCardWrapper .topVotesBlock .content table th { color:#fff; background:#333e4c; border:1px solid #e4e8ec; text-align:center; vertical-align:middle; font-size:20; font-weight:700; height:50px; width:20%; padding:5px; }
#scoreCardWrapper .topVotesBlock .content table td { color:#b5bac1; background:#fff; border:1px solid #e4e8ec; text-align:center; vertical-align:middle; font-size:20; font-weight:200; padding:5px}


/*******************************************************************************
ABOUT ROW - ABOUT
*******************************************************************************/
#scoreCardWrapper #aboutRow { background:#f9fcff;}
#scoreCardWrapper #aboutRow .rowInner { padding:70px 350px 30px 0;}

#scoreCardWrapper #aboutRow .contentCol { max-width: 580px; width:100%; float:left; margin:0 0 25px 0;}

#scoreCardWrapper #aboutRow .sideCol { width:100%; max-width:300px; float:right; margin:0 -350px 40px 0;}
#scoreCardWrapper #aboutRow .sideCol #search {margin:0 0 30px 0;}
#scoreCardWrapper #aboutRow .sideCol table { border-collapse:collapse;}
#scoreCardWrapper #aboutRow .sideCol table th { color:#fff; background:#333e4c; border:1px solid #e4e8ec; text-align:center; vertical-align:middle; font-size:20; font-weight:700; height:50px; width:20%; padding:5px; }
#scoreCardWrapper #aboutRow .sideCol table td { color:#b5bac1; background:#fff; border:1px solid #e4e8ec; text-align:center; vertical-align:middle; font-size:20; font-weight:200; padding:5px}


/*******************************************************************************
ACTIONS ROW
*******************************************************************************/
#scoreCardWrapper #controlsRow { background:#f9fcff;}
#scoreCardWrapper #controlsRow .rowInner { padding:30px 0 10px;}

#scoreCardWrapper #comparePanel {float:left; margin:0px 20px 10px -5px;}
#scoreCardWrapper #comparePanel .compareItems { display:inline-block; vertical-align:middle;}
#scoreCardWrapper #comparePanel .compareItems .item {cursor:pointer;float:left; width:57px; height:57px; border:1px solid #b5bac1; position:relative; background:#fff; margin:0 5px 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#scoreCardWrapper #comparePanel .compareItems .item.active:hover {opacity: 0.8}
#scoreCardWrapper #comparePanel .compareItems .item img {width:100%; height:100%; display:block;}
#scoreCardWrapper #comparePanel .compareItems .item .remove {position:absolute; width:15px; height:15px; top:-4px; right:-4px; background:#2d76d2; color:#fff; border-radius:50%; text-align:center; font-size:8px; line-height:15px; font-weight:500; display:none; cursor:pointer;}
#scoreCardWrapper #comparePanel .compareItems .item.active .remove {display:block;}
#scoreCardWrapper #comparePanel .btn { margin:0 0px 12px; display:inline-block; max-width:100px; vertical-align:middle}

#scoreCardWrapper #sessionPanel { float:right; margin:0 0 20px 0; width:100%; max-width:205px;}
#scoreCardWrapper #sessionPanel label {font-style:italic; margin:0 0 5px 0; display:block; line-height:12px; font-size:12px; color:#b5bac1;}

#scoreCardWrapper .membersList {box-shadow: 0 0 10px 10px rgba(0,0,0,0.3); -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);overflow: scroll;border-bottom: 10px solid #444;display: none;position: fixed;width: 80%;height: auto;background: #444;left: 10%;top: -15px;color: #fff;border-radius: 10px;-webkit-border-radius: 10px;padding: 50px 25px 25px 25px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; borer-bottom: 25px solid #444;z-index: 99999;}
#scoreCardWrapper .membersList span {font-style: italic;margin: 0px 0px 5px;display: block;line-height: 12px;font-size: 12px;}
#scoreCardWrapper .membersList form {color: #000; height: 500px; overflow: scroll; margin-top: 25px;background: #eee;padding: 20px;box-shadow: 0 0 1px 1px rgba(0,0,0,0.4) inset;-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.4) inset;border-radius: 10px;-webkit-border-radius: 10px;}
#scoreCardWrapper .membersList .checkItem {width: 20%; float: left; margin-bottom: .25em;}
#scoreCardWrapper .membersList .addButton {margin-top: 25px;display: inline-block;padding: 10px 20px;background: #ff9001;color: #fff;border-radius: 10px;}
#scoreCardWrapper .membersList .closeButton {cursor: pointer;position: absolute;right: 18px;top: 34px;background: #ff9001;padding: 10px;font-size: 20px;border-radius: 100%;width: 20px;height: 20px;text-align: center;line-height: 20px;}
#scoreCardWrapper .membersList .closeButton:hover {opacity:0.8;}
#scoreCardWrapper .membersList h3 {color: #fff; font-size: 40px; margin-bottom: 10px;}


/*******************************************************************************
CONTENT ROW
*******************************************************************************/
#scoreCardWrapper #contentRow { background:#fff;}
#scoreCardWrapper #contentRow .rowInner { padding:30px 0 100px;}

#scoreCardWrapper .scrollTitle    {width: 100%; background:#fff; position: fixed; height: 100px; top:0; display:none;  padding-top: 20px;margin-left: -1px;padding-left: 1em;}
#scoreCardWrapper .scrollTitle.show {display:block}

	/*INFO BAR*/
#scoreCardWrapper #infoBar { padding:0 240px 20px 0}
#scoreCardWrapper #infoPath { float:left; font-weight:300; font-style:italic; color:#333e4c; font-size:18px; line-height:20px; width:100%;}
#scoreCardWrapper #infoPath i {color:#ff9001; margin:0 12px;}
#scoreCardWrapper #infoPath a { color:#2d76d2;}
#scoreCardWrapper #infoSocial { float:right; margin:0 -220px 0 0; text-align:center}
#scoreCardWrapper #infoSocial i { width:47px; height:40px; margin:0 0 0 10px; float:left; background:#e4e8ec; color:#b5bac1; font-size:24px; text-align:center; line-height:40px;}

	/*TABS BAR*/
#scoreCardWrapper ul.tabsBar  {margin:0 !important; list-style:none !important}
#scoreCardWrapper .tabsBar {list-style:none; display:block;}
#scoreCardWrapper .tabsBar.turn {-ms-transform: rotate(-90deg); /* IE 9 */-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */transform: rotate(-90deg);position: fixed;left: 402px;top: 254px;}
#scoreCardWrapper .overallTabs.turn {margin-left: -70px !important;margin-top: 40px !important;}

#scoreCardWrapper .voteTabs.turn, #scoreCardWrapper .billTabs.turn {margin-left: -70px !important;margin-top: 40px !important;}


#scoreCardWrapper .tabsBar:after {content:''; clear:both; display:block; height:0; visibility:hidden;}
#scoreCardWrapper .tabsBar li { float:left; margin:0 10px 10px 0; height:40px; font-weight:500; color:#999fa6; font-size:14px; line-height:16px; background:#e4e8ec; text-transform:uppercase; transition:opacity .2s; letter-spacing:.1em; position:relative; cursor: pointer;}
#scoreCardWrapper .tabsBar li.active {background:#2d76d2; color:#fff}
#scoreCardWrapper .tabsBar li:hover {opacity:0.8;}
#scoreCardWrapper .tabsBar li > div { display:table-cell; height:40px; text-align:center; padding:0 15px; vertical-align:middle; }
#scoreCardWrapper .tabsBar li:last-child { margin:0 0 10px 0;}
#scoreCardWrapper .tabsBar li.active:after {position:absolute; content:''; width:14px; height:5px; bottom:-5px; left:50%; margin:0 0 0 -7px; background:url(../images/tab-pointer.png) center center no-repeat;}

	/*Bill Details*/
#scoreCardWrapper #billDetail {padding:0 250px 0 0;}
#scoreCardWrapper #billDetail .contentCol { width:100%; max-width: 690px; float:left; margin:0 0 20px 0;}
#scoreCardWrapper #billDetail .sideCol { width:250px; float:right; margin:0 -250px 0 0;}

	/*Vote Details*/
#scoreCardWrapper #voteDetail {padding:0 275px 0 0;}
#scoreCardWrapper #voteDetail .contentCol { width:100%; max-width: 690px; float:left; margin:0 0 20px 0;}
#scoreCardWrapper #voteDetail .sideCol { width:250px; float:right; margin:0 -275px 0 0;}

	/*AEA Position Display*/
#scoreCardWrapper #positionBlock { text-align:center;}
#scoreCardWrapper #positionBlock .position {margin:0 0 25px 0; color:#333e4c; font-size:24px; line-height:28px; font-weight:200; font-style:italic; letter-spacing:.05em;}
#scoreCardWrapper #positionBlock .position span { font-weight:900;}
#scoreCardWrapper #positionBlock .positionData { border:1px solid #b5bac1; padding:10px; margin:0 0 40px 0; font-style:italic;}
#scoreCardWrapper #positionBlock .positionData span { color:#b5bac1; font-style:normal; display:block; margin:0 0 5px 0; font-size:18px; line-height:18px; letter-spacing:0;}
#scoreCardWrapper #positionBlock .positionData h3 {font-weight:900; margin-bottom:5px;}
#scoreCardWrapper #positionBlock .btn { max-width:none;}

	/*Rep Details*/
#scoreCardWrapper #repDetail { padding:0 0 0 270px; margin:0 0 80px 0}
#scoreCardWrapper #repPhoto { width:236px; float:left; margin:0 34px 20px -270px;}
#scoreCardWrapper #repPhoto .photo { border:1px solid #b5bac1; padding:8px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#scoreCardWrapper #repPhoto .photo img {width:100%; height:auto; display:block;}
#scoreCardWrapper #repPhoto .compare {cursor: pointer; height:60px; border:1px solid #b5bac1; border-top:none; background:#e4e8ec; font-size:24px; line-height:60px; font-style:italic; text-align:center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#scoreCardWrapper #repPhoto .compare:hover {background:#2D76D2 none repeat scroll 0% 0%; color: #fff;}
#scoreCardWrapper #repInfo { float:left; margin: 0 0 26px 0;}
#scoreCardWrapper #repInfo h3 {margin-bottom:8px; line-height:32px;}
#scoreCardWrapper #repInfo p { color:#b5bac1; line-height:20px; margin-bottom:0;}
#scoreCardWrapper #repGraphs { float:left; width:100%;}
#scoreCardWrapper #repGraphs .currentScore { height:95px; margin:0 0 20px 0;}
#scoreCardWrapper #repGraphs .currentScore .graphFill {padding:10px 25px; min-width:115px !important; background:#18a0e6; color:#fff; height:100%; position:relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#scoreCardWrapper #repGraphs .avgScore { height:95px; margin:0 0 20px 0;}
#scoreCardWrapper #repGraphs .avgScore .graphFill {padding:10px 25px; min-width:115px !important; background:#b5bac1; color:#fff; height:100%; position:relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

#scoreCardWrapper #repGraphs .barGraph {}
#scoreCardWrapper #repGraphs .barGraph .data {;left:25px; right:25px;}
#scoreCardWrapper #repGraphs .barGraph .data .label { float:left; font-size:18px; line-height:20px; padding:8px 0 0; font-style:italic;}
#scoreCardWrapper #repGraphs .barGraph .data .score { float:right; font-size:36px; line-height:36px; font-style:italic; font-weight:700; }


/*******************************************************************************
SUBSCRIBE ROW - ALL PAGES
*******************************************************************************/
#scoreCardWrapper #subscribeRow { background:#ff9001;}
#scoreCardWrapper #subscribeRow .rowInner { padding:35px 0 15px 0; text-align:center;}

#scoreCardWrapper #subscribeRow label { color:#fff; font-weight:700; font-style: italic; font-size:36px; line-height:38px; float:left; margin:0 13px 20px 0;}
#scoreCardWrapper #subscribeRow .field { display:inline-block; width:250px; height:40px; background:#fff; border:1px solid #b5bac1; color:#b5bac1; font-family: 'Roboto', sans-serif; font-weight:300; font-size:14px; line-height:18px; margin:0 7px 20px 7px; padding:7px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#scoreCardWrapper #subscribeRow .btn {border:none; display:inline-block; margin:0 7px 20px 7px;}
#scoreCardWrapper #subscribeRow .aeaAboutLink {color: #fff;text-align: left;display: block;font-style: italic;}

/*******************************************************************************
ACTION ROW - ALL PAGES
*******************************************************************************/
#scoreCardWrapper #takeActionRow {background: rgb(249, 252, 255) none repeat scroll 0% 0%;padding: 50px;text-align: center;}
#scoreCardWrapper .takeActionLink {padding: 20px 50px;font-size: 20px;text-transform: uppercase;font-weight: 700;}

/*******************************************************************************
TABLES
*******************************************************************************/

/*General Table Setup*/

#scoreCardWrapper .hide       {display: none}

#scoreCardWrapper .resultsTable {border-collapse:collapse; display:table}
#scoreCardWrapper .resultsTable tr.link { cursor: pointer;}
#scoreCardWrapper .resultsTable tr.link:hover {background:#f9fcff}
#scoreCardWrapper .resultsTable td {font-size:18px; line-height:20px; font-weight:200; font-style:italic; color:#333e4c; text-align:left; padding:5px 10px; height:40px; border:1px solid #b5bac1; letter-spacing:.05em}
#scoreCardWrapper .resultsTable th {background:#e4e8ec !important; color:#999fa6 !important; text-align:left !important; font-size:14px !important; line-height:16px !important; border:1px solid #b5bac1 !important; padding:5px 10px !important; height:36px; font-weight:500 !important; vertical-align:middle !important; letter-spacing:.1em !important; text-transform:uppercase;}

#scoreCardWrapper .resultsTable .yesPos {color:#2f556f !important;}
#scoreCardWrapper .resultsTable  .noPos {color:#ff9001 !important;}

#scoreCardWrapper .headerSortUp .sort     {display:none}
#scoreCardWrapper .headerSortDown .sort   {display:none}

#scoreCardWrapper .sortup, .sortdown      {display: none}
#scoreCardWrapper .headerSortUp .sortdown   {display: inline}
#scoreCardWrapper .headerSortDown .sortup {display: inline}
/*overall Results / State Results / bill detail page / vote detail page */
#scoreCardWrapper .overallTable {}
#scoreCardWrapper .overallTable td {}
#scoreCardWrapper .overallTable .stateCell {}
#scoreCardWrapper .overallTable .districtCell {}
#scoreCardWrapper .overallTable .nameCell	{width:50%;}
#scoreCardWrapper .overallTable .partyCell {}
#scoreCardWrapper .overallTable .scoreCell {color:#18a0e6; font-size:24px; font-weight:700;}
/*rep Table*/
#scoreCardWrapper .repTable {}
#scoreCardWrapper .repTable td { font-size:18px; line-height:20px; color:#b5bac1;}
#scoreCardWrapper .repTable .voteCell { font-weight:500; text-align:center !important; font-size:14px; font-style:normal;}
#scoreCardWrapper .repTable .titleCell {}
#scoreCardWrapper .repTable .descripCell {width:40%;}
#scoreCardWrapper .repTable .aeaPosCell {font-weight:500; text-align:center !important; font-size:14px; font-style:normal;}
#scoreCardWrapper .repTable .repPosCell {font-weight:500; text-align:center !important; font-size:14px; font-style:normal;}
/*compareTable*/
#scoreCardWrapper .compareTable {}
#scoreCardWrapper .compareTable td {}
#scoreCardWrapper .compareTable .photoCell {padding:0; position: relative;}
#scoreCardWrapper .compareTable .photoCell img {width:100%; height:auto; max-width:143px; display:block;}
#scoreCardWrapper .compareTable .photoCell .comparePhoto {width: 100%;height: 139px;}
#scoreCardWrapper .compareTable .titleCell { width:30%;}
#scoreCardWrapper .compareTable .nameCell { text-align:center !important; width:14%;}
#scoreCardWrapper .compareTable .aeaPosCell {font-weight:500; text-align:center !important; font-size:14px; font-style:normal; width:14%;}
#scoreCardWrapper .compareTable .repPosCell {font-weight:500; text-align:center !important; font-size:14px; font-style:normal;}
#scoreCardWrapper .compareTable .scoreCell {font-weight:700;  text-align:center !important; font-size:24px; color:#18a0e6; }
/*Autocompletes*/
.autocomplete-suggestions       {  background: #fff; padding: 8px 0; max-height: 100px; overflow: scroll; margin-top: 120px;font-size: 12px;}
.autocomplete-suggestions :last-child:after {display:none}
.autocomplete-suggestion       {padding: 5px 5px; font-family: 'Roboto'}
.autocomplete-suggestion:hover, .autocomplete-selected {background-color: #2d76d2; color:#fff}