@charset "UTF-8";
/* CSS Document */

@media only screen 
and (max-width : 1110px)
{
	/*Subscribe Row */
	#subscribeRow label { width:100%; text-align:center; margin:0 0 20px 0;}
	
	
	
}

@media only screen 
and (max-width : 960px)
{
	/*Map Row*/
	#mapRow .rowInner { padding:40px 0 40px 0;}
	#mapRow #map {margin:0; width:100%;}
		#mapRow #map > div {margin:0 auto;}
		#mapRow #map > p {max-width:none;}
	#mapRow #search { float:left; max-width:none; margin-bottom:40px;}
		#mapRow .searchForm {width:31.33%; margin:0 2% 15px 0;}
		#mapRow .btn { margin:0 2% 15px 0; float:left; max-width:142px}
		
		
	/*Top Performers Row */	
	.topPerformersBlock .profile .score { font-size:53px; line-height:53px;}
	
	
	/*Controls Row */
	#controlsRow .rowInner { padding:23px 0 15px;}
	#controlsRow .rowInner > .clear {display:none;}
	#comparePanel { width:100%; max-width:648px; margin:0 auto 0px; float:none;}
	#sessionPanel {float:none; max-width:635px; margin:0 auto 20px; }
}



@media only screen 
and (max-width : 768px)
{
	/*Search Block*/
	#search { margin-bottom:0px;}
		#search .searchForm {width:48%; margin:0 2% 15px 0;}
		#search .btn { margin:0 2% 15px 0; float:left; max-width:none; width:48%;}
		
	/*Map Row*/
	#mapRow #map {display:none;}
		#mapRow #search .stateSearch {display:block;}
		
	/*About Row*/
	#aboutRow .rowInner { padding:70px 0 30px 0;}
		#aboutRow .contentCol { max-width: none; }
		#aboutRow .sideCol {max-width:none; float:left; margin:0 0 40px 0;}
	
}

@media only screen 
and (max-width : 720px)
{
	/*Top Performers Row */	
	.topPerformersBlock .profile {width:48%;}
	
	/*Top Votes Row*/
	.topVotesBlock { width:98%;}
	
	/*Controls Row */
	#comparePanel {max-width:512px; text-align:center;}
	#sessionPanel {max-width:502px;}
	#comparePanel .compareItems .item {width:40px; height:40px;}
	
	/*tabs*/
	.tabsBar li {margin:0 5px 5px 0; height:40px; font-size:11px; line-height:13px; letter-spacing:0;}
		.tabsBar li > div {height:40px; text-align:center; padding:0 7px;}
	.tabsBar li:last-child { margin:0 0 5px 0;}
	
		
	/*Bill Details*/
	#billDetail {padding:0;}
		#billDetail .contentCol {max-width:none;}
		#billDetail .sideCol {}
	
	/*Vote Details*/
	#voteDetail {padding:0;}
		#voteDetail .contentCol {max-width:none;}
		#voteDetail .sideCol { width:100%; float:left; margin:0 0 40px 0;}
		
	/*AEA Position Display*/	
	#positionBlock .position {margin:0 0 10px 0; background:#e4e8ec; padding:5px;}	
	#positionBlock .positionData { margin:0 0 10px 0;}
		
	/*Rep Details*/
	#repDetail { padding:0;}
		#repPhoto { width:236px; float:left; margin:0 34px 20px 0;}
	
	/*TABLES*/
	.resultsTable th {font-size:11px !important; line-height:13px !important; padding:5px !important; letter-spacing:0 !important;}
	.resultsTable td {font-size:14px; line-height:16px; padding:5px; letter-spacing:0;}
	
	/*overall Table*/
	.overallTable .scoreCell {font-size:20px;}	
	
	/*rep Table*/
	.repTable .descripCell { display:none;}
	
	/*overall Table*/
	.compareTable .scoreCell {font-size:20px;}	
	
	
	
	
}

@media only screen 
and (max-width : 640px)
{
	h1 {font-size:38px; line-height:40px;}
	
	/*Search Block*/
	#search .searchForm {width:100%; margin:0 0 15px 0;}
	#search .btn { margin:0 0 15px 0; float:right; max-width:none; width:48%;}
	#search .btn:first-child {float:left;} 
	
	/*infoBar*/
	#infoBar { padding:0 0 20px 0}
	#infoSocial { float:left; margin:15px 0 0 0;}
		#infoSocial i { margin:0 10px 0 0;}
		
	
}

@media only screen 
and (max-width : 562px)
{

	#comparePanel .compareItems {height:100px; max-width:100px;}
	#comparePanel .btn { max-width:80px; font-size:11px;}
	

}

@media only screen 
and (max-width : 480px)
{
	/*Top Performers Row */
	.topPerformersBlock .header { padding:0;}
			.topPerformersBlock .header h1 {float:left; width:100%;}
			.topPerformersBlock .header .btn {float:left; margin:15px 0 0 0;}
			
	/*Top Votes Row */
	.topVotesBlock .header { padding:0;}
		.topVotesBlock .header h1 {float:left; width:100%;}
		.topVotesBlock .header .btn {float:left; margin:15px 0 0 0;}
		
	/*Rep Details*/
	#repGraphs { }
		#repGraphs .barGraph {width:48%; float:left;}
			#repGraphs .barGraph .graphFill {width:100% !important; height:100%;}
		#repGraphs .currentScore {margin:0 4% 20px 0;}
		#repGraphs .avgScore {margin:0 0 20px 0;}
				#repGraphs .barGraph .data .label { width:100%; text-align:center}
				#repGraphs .barGraph .data .score {  width:100%; text-align:center}
		
	
}

@media only screen 
and (min-width : 680px)
and (max-width : 800px)
{

}

